A3/enau831-schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="ItemInside">
        <xs:sequence>
            <xs:element name="ItemId" type="xs:int"/>
            <xs:element name="Origin" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfItem">
        <xs:sequence>
            <xs:element name="Item" type="ItemInside"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ArrayOfItem" type="ArrayOfItem"/>

</xs:schema>
