part 1/A3/enau831-schema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:simpleType name="origin">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NZ"/>
            <xs:enumeration value="Italy"/>
            <xs:enumeration value="France"/>
            <xs:enumeration value="England"/>
            <xs:enumeration value="Sweden"/>
            <xs:enumeration value="Spain"/>
            <xs:enumeration value="Netherlands"/>
            <xs:enumeration value="Iceland"/>
            <xs:enumeration value="Switzerland"/>
            <xs:enumeration value="Portugal"/>
            <xs:enumeration value="Cyprus"/>
            <xs:enumeration value="Bulgaria"/>
            <xs:enumeration value="Denmark"/>
            <xs:enumeration value="India"/>
            <xs:enumeration value="Greece"/>
            <xs:enumeration value="Hungary"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cheese"/>
            <xs:enumeration value="Milk"/>
            <xs:enumeration value="Butter"/>
            <xs:enumeration value="Cream"/>
            <xs:enumeration value="Yogurt"/>
        </xs:restriction>
    </xs:simpleType>





    <xs:complexType name="types">
        <xs:sequence>
            <xs:element name="Type" type="type" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="ItemInside">
        <xs:sequence>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Types" type="types"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="origin" type="origin" default="NZ"/>
    </xs:complexType>

    <xs:complexType name="ArrayOfItem">
        <xs:sequence>
            <xs:element name="Item" type="ItemInside" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ArrayOfItem" type="ArrayOfItem"/>

</xs:schema>
